Source: rustscan
Section: utils
Priority: optional
Maintainer:ibrahimsql@proton.me
Build-Depends: debhelper (>= 10), cargo, rustc
Standards-Version: 4.5.0
Homepage: https://github.com/RustScan/RustScan

Package: rustscan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nmap
Description: The Modern Port Scanner
 RustScan is a modern port scanner written in Rust.
 It is designed to be fast and easy to use, with a focus on
 simplicity and performance. RustScan can be used as a
 standalone tool or in conjunction with Nmap for more
 detailed scanning.
