#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	mkdir -p debian/rustscan/usr/bin
	cp target/release/rustscan debian/rustscan/usr/bin/

override_dh_auto_clean:
	cargo clean
	dh_auto_clean 
